Source: faenza-icon-theme
Section: gnome
Priority: extra
Maintainer: Matthieu James <matthieu.james@gmail.com>
Build-Depends:
 debhelper (>= 7)
Standards-Version: 3.9.1
Homepage: http://launchpad.net/~tiheum/+archive/equinox

Package: faenza-icon-theme
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: Faenza icon theme
  The Faenza icon theme provide monochromatic icons for panels, toolbars and buttons and squared colorful icons for applications, devices, folders and files.
