Source: faenza-icon-theme
Section: gnome
Priority: optional
Maintainer: Rogério Brito <rbrito@ime.usp.br>
Build-Depends:
 debhelper (>= 12~),
 debhelper-compat (= 13),
 rdfind,
 symlinks
Standards-Version: 4.6.0
Homepage: https://launchpad.net/~tiheum/+archive/equinox
Vcs-Git: https://github.com/rbrito/pkg-faenza-icon-theme.git
Vcs-Browser: https://github.com/rbrito/pkg-faenza-icon-theme
Rules-Requires-Root: no

Package: faenza-icon-theme
Architecture: all
Depends:
 ${misc:Depends}
Description: square shaped, colorful icons for desktops
 The Faenza icon theme provide monochromatic icons for panels, toolbars and
 buttons and squared colorful icons for applications, devices, folders and
 files.
