#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	cp -dpRf Faenza* $(CURDIR)/debian/faenza-icon-theme/usr/share/icons
	rm -Rf $(CURDIR)/debian/faenza-icon-theme/usr/share/icons/Faenza/extras
	rm -Rf $(CURDIR)/debian/faenza-icon-theme/usr/share/icons/Faenza-Dark/extras
	#cp -dpRf rhythmbox $(CURDIR)/debian/faenza-icon-theme/usr/lib
	#cp -dpRf dockmanager $(CURDIR)/debian/faenza-icon-theme/usr/share
	cp -dpRf emesene $(CURDIR)/debian/faenza-icon-theme/usr/share
	dh_install
