#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	sh debian/create-symlinks.sh

	dh_install

	rdfind -outputname /dev/null -makesymlinks true debian/faenza-icon-theme
	symlinks -c -r -s debian/faenza-icon-theme

	find $(CURDIR)/debian/faenza-icon-theme -type f -print0 | xargs -0 chmod a-x
	rm -Rf $(CURDIR)/debian/faenza-icon-theme/usr/share/icons/Faenza/extras
	rm -Rf $(CURDIR)/debian/faenza-icon-theme/usr/share/icons/Faenza-Dark/extras

override_dh_builddeb:
	dh_builddeb -- -Zxz -Sextreme
